
:root {
  --theme-color: blue;
}

html {
  overflow: hidden;

  --theme-color: #fff;
}

html.light {
  --theme-color: #0e752e;
}

html.dark {
  --theme-color: #272727;
}

body {
  height: 100vh;
  overflow: 'hidden'
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: 'hidden'
}

/* No other way to do this :/ */
.rv-sticky-tree {
  overflow-x: hidden !important;
}
